For adult dogs with non-commercial import, when you arrive in Canada you will need the following: 
- a valid rabies vaccination certificate; and the dog appears healthy and meets humane transportation requirements A personal pet dog is defined as a dog that is intended to live with the owner, who must also be the importer, who is bringing the animal into Canada as a personal pet dog.
- The dog is not intended for transfer of ownership or fostering upon its arrival into Canada, or commercial purposes such as reproduction, breeding or sale of offspring, showing or exhibition, sale of germplasm (includes semen, oocytes and embryos), sale of the dog itself, scientific use or research, or special training status (regardless of whether a profit is made or a transfer of funds occurs).
- The owner must be the importer of the dog and be able to provide documentation that clearly demonstrates they own the dog and obtained ownership prior to it entering Canada upon request.
- If you are bringing a dog to Canada to give to someone else, to foster, to adopt out, to breed, or for other commercial purposes, change your selection from "personal" to "commercial" to get the correct import requirements.
- Note: other federal departments/agencies (for example, Canada Border Services Agency) may have additional requirements if an owner/importer has authorized a person/agent to accompany their import to Canada on their behalf.
- It is the owner/importer's responsibility to comply with any other relevant requirements.
- A hard copy of all required original documentation may be requested during the inspection, and the importer must be able to provide such records if asked.
- As such, it is strongly recommended to travel with a physical original copy of all required documentation. 